<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Murrsco
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
